<div class="box col3 new-glossary text-center">
  <h3>Add New Glossary</h3>
    <div class="new-glossary-button">
      <% if current_user %>
        <%= link_to new_glossary_path, remote: true, :data => { toggle:"modal", target: "#newGlossary" } do %>
          <%= fa_icon "plus" %>
        <% end %>
      <% else %>
        <%= link_to new_user_registration_path, class: 'btn btn-warning' do %>
          <%= fa_icon "exclamation-circle" %> Sign in to Make Glossaries
        <% end %>
      <% end %>
   </div>
</div> <!-- end new glossary -->