<div class="box col3 new-glossary text-center">
  <h3>Add New Glossary</h3>
    <div class="new-glossary-button">
      <%= link_to new_glossary_path, remote: true, :data => { toggle:"modal", target: "#newGlossary" } do %>
        <%= fa_icon "plus" %>
      <% end %>
   </div>
</div> <!-- end new glossary -->