<section id="welcome">
  <div class="hero">
    <h1>Mini Glossaries for Translators</h1>
    <p class="lead">Social translations to help you work more efficiently</p>
      <form class="form-inline">
        <%= link_to 'Join us', new_user_registration_path, class: 'btn btn-lg btn-success' %>
        <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-lg btn-primary' %>
      </form>
  </div>
</section>