<section id="welcome">
  <div class="hero">
    <h1>Mini Glossaries for Translators</h1>
    <p class="lead">Social translations to help you work more efficiently</p>
      <form class="form-inline">
        <%= link_to 'Join us', new_user_registration_path, class: 'btn btn-lg btn-success' %>
        <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-lg btn-primary' %>
      </form>
  </div>
</section>

<section id="about">
  <div class="explainer">
    <div class="container">
      <div class="text-center">
        <h1>How it works</h1>
      </div>
        <div class="row">

          <div class="col-md-4">
            <h3>Sign Up</h3>
            <p>Sign up in seconds to gain full access to the power of community translations. <b>It's free, <%= link_to 'so join now', new_user_registration_path %>.</b></p>
          </div>

          <div class="col-md-4">
            <h3>Create Mini Glossaries</h3>
            <p>Create mini glossaries on topics you work with and add 3-5 terms.</p>
          </div>

          <div class="col-md-4">
            <h3>Help Others Translate</h3>
            <p>Browse other glossaries and add translations to the terms you know. You'll make friends and people will help you with your own translations.</p>
          </div>

        </div>
      </div>
    </div>
</section>