// Place all the styles related to the Glossaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero {
  height: 400px;
  text-align: center;
  padding: 8em;
  background-color: #34495e;
  margin-top: -20px;
  color: #ecf0f1;
}

.explainer {
  height: 400px;
  text-align: center;
  padding: 5em 0;
  background-color: #bdc3c7;
  margin-top: -20px;
}

th {
  text-align: center;
}

#masonry-container {
  background: transparent;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.glossary-details {
  margin: -20px 0;
}

.glossary-details ul {
  list-style: none;
  display: inline;
  position: relative;
  padding: 0;
}

.glossary-details li {
  display: inline-block;
  padding-right: 20px;
}